* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 300px;
  }
  
  .profile-card {
    display: flex;
    background-color: #987676;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    background-color: #435464;
    border-radius: 50%;
  }
  
  .info {
    padding: 20px;
  }
  
  .rating {
    font-size: 24px;
    color: gold;
  }
  